/*
 Theme Name:   Edge Child
 Theme URI:    https://themefreesia.com/themes/edge
 Description:  Edge Child Theme - Edge
 Author:       Amy Jennings
 Author URI:   http://amyjenningsdev.com
 Template:     edge
 Version:      1.1.1.1
 Text Domain:  edge-child
*/

@import url("../edge/style.css");

/* Table of Contents
==================================================
# Color Palette
# General Styles
# Header
# Footer
# Home Page Styles
	## Main Slider
	## Get to Know Us Section
	## Our Listings & Blog Sections
	## Instagram Section
# About Page
# Listings - Archive Page
# Single Listings
# Blog - Archive Page
# Single Blog Posts
# Contact Page

*/

/*  # Color Palette
		================================================== */

/*	#010419 - rich black
		#454951 - outer space
		#991D25 - vivid auburn
		#F7EBD7 - moccasin
		#C6C6C6 - lavender gray
		#C69f70; - edge default */

/*  # General Styles
		================================================== */

/* *** Notes ***

#primary - use when get_sidebar();
#content - use for padding top page from nav

*/

/* ----- #Headings  ----- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-top:0;
	padding-bottom: 20px;
}

h1, h2, h3 {
	color: #991D25;
}

/* For sections full-width w/color */
.colored-background {
	background-color: #F7EBD7;
}

.two-column, .two-column-full-width {
    width: 65%;
		padding: 0 15px 15px;
}

/*  # Header
================================================== */

#masthead {
	background-color: #F7EBD7;
}

#site-title {
	display: none;
}

#site-description {
	padding: 5px 0 0;
}

.top-header .widget-title {
    display: block;
		padding-bottom: 0;
		text-align: left;
		letter-spacing: .75px;
}

#sticky_header {
	background-color: #991D25;
	border-bottom: 1px solid #010419;
}

.main-navigation a {
	color: #F7EBD7;
}

.top-header .widget_contact {
	padding-top: 45px;
}

.top-header .widget_contact ul li{
	clear: both;
}

.top-header .social-links {
	margin-top: 45px;
}

.top-header .social-links a{
	font-size: 20px;
	margin-left: 15px;
}

/*  # Footer
================================================== */

.site-info {
	background-color: #C6C6C6;
}

.contact, .newsletter {
	background-image: url("../edge-child/assets/images/rectangle2copy.png");
	background-repeat: no-repeat;
	background-size: contain;
	text-align: left;
	line-height: 5px;
	height: 250px;
}

.phone {
	background-image: url("../edge-child/assets/images/rectangle1copycopy.png");
	background-repeat: no-repeat;
	background-size: contain;
	text-align: left;
	line-height: 5px;
	height: 250px;
	position: relative;
}

.contact-wrap, .newsletter-wrap {
	position: relative;
	height: 180px;
}

.contact-info, .newsletter-info {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 320px;
}

.phone-info {
	position: absolute;
	top: 40px;
	left: 33px;
	width: 320px;
}

.newsletter-info {
	top: 47px;
	left: 15px;
	width: 320px;
	padding: 0 10px;
	text-align: center;
}

.lar {
	width: 100px;
	float: left;
}

.contact-info h3 {
	font-size: 1.4em;
	line-height: 5px;
	padding-top: 1.5em;

}
.contact-info h4 {
	font-size: 1.2em;
	line-height: 5px;
}

.mls {
	position: absolute;
	bottom: -5px;
	right: 32px;
	width: 60px;
}

.equal {
	position: absolute;
	bottom: -5px;
	right: 5px;
	width: 25px;
}

.letter-space {
	letter-spacing: 1.5px;
}

.letter-space a,
.phone-number a,
.copy a {
	color: #991D25;
}

.letter-space a:hover, .letter-space a:focus,
.phone-number a:hover,
.phone-number a:focus,
.copy a:hover,
.copy a:focus {
	color: #C69f70;
}


.site-info .social-links {
	padding: 3% 0 0 28%;
}

.bullhorn-wrap {
	position: relative;
	height: 100px;
}

.bullhorn {
	position: absolute;
	left: 41px;
	top: -4px;
}

.red-house {
	height: 60px;
}

.bullhorn i {
	font-size: 3em;
}

.phone-number {
	position: absolute;
	top: 20px;
	left: 111px;
	line-height: 5px;
	text-align: center;
}

.love-word {
	position: absolute;
	height: 65px;
	left: 203px;
}

.copy {
	font-size: .8em;
	letter-spacing: 1.5px;
	color: #991D25;
	margin-top: 45px;
}

.grey {
	color: #454951;
}

.mc4wp-form-fields p input {
	margin: 10px auto 0;
}

.mc4wp-form-fields p label {
	margin: 0 auto;
}

.mc4wp-alert p {
	color: #991D25;
	padding-top: 25px;
	line-height: 25px;
}

/* Footer Media Queries */

@media only screen and (max-width: 1300px) {
	/* contact section */
	.contact-info {
		top: 12px;
		left: 3px;
		width: 275px;
		line-height: 3px;
	}
	.lar {
		padding-top: 10px;
		width: 83px;
	}
	.contact-info h3 {
		font-size: 1.3em;
	}
	.contact-info h4 {
		font-size: 1.2em;
		line-height: 2px;
	}
	.mls {
		bottom: 4px;
		right: 19px;
		width: 40px;
	}
	.equal {
		bottom: 3px;
		right: 0px;
		width: 18px;
	}
	/* phone section */
	.phone-info {
		top: 29px;
		left: 0px;
	}
	/* newsletter section */
	.newsletter-info {
		top: 36px;
		left: 0px;
		width: 280px;
		line-height: 1.1px;
	}
	.newsletter-info p {
		font-size: .8em;
	}
	.newsletter-info .big-p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	/* contact section */
	.contact-info {
		top: 21px;
		left: 25px;
	}
	/* phone section */
	.phone-info {
		top: 37px;
		left: 17px;
	}
	/* newsletter section */
	.newsletter {
			margin-left: 176px;
		}
	.newsletter-info {
		top: 42px;
		left: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.contact, .phone, .newsletter {
		margin-left: 21px;
	}
	/* contact section */
	 .contact-info {
		top: 26px;
		left: 42px;
		width: 350px;
		line-height: 10px;
	}
	/* phone section */
	.phone-info {
		top: 53px;
		left: 42px;
	}
	/* newsletter section */
	.newsletter-info {
		top: 63px;
		left: 67px;
		line-height: 5px;
	}
}

@media only screen and (max-width: 480px) {
	.contact, .phone, .newsletter {
		margin-left: 0px;
		height: 185px;
	}
	/* contact section */
		.contact-info {
			top: 2px;
			left: 20px;
			width: 258px;
			line-height: 3px;
	  }
		.lar {
			width: 80px;
			padding-top: 15px;
		}
		/* phone section */
		.phone-info {
			top: 23px;
			left: -15px;
		}
		/* newsletter section */
		.newsletter-info {
			top: 29px;
			left: 16px;
			line-height: 1px;
			width: 265px;
		}
		.mc4wp-alert p {
			padding-top: 0px;
		}
	}

/*  # Home Page Styles
================================================== */

/*  ## Main Slider (Hero Image Homepage)
================================================== */


.slider-content .slider-title,
.slider-content .slider-title a {
	display: none;
}
.slider-content .slider-text h3 {
	display: none;
}

/* ----- Slider Buttons ----- */

/* Overriding all for now, may need to adjust if use slider in other parts of site */

/* Can access slider functions in inc/settings/edge-functions.php */

div.slider-buttons {
	display: none;
}

a.slider-prev, a.slider-next {
	display: none;
}

/* ## Welcome Section ======================== */
.hero-cred-wrap {
	position: relative;
	width: 100%;
}

.hero-cred {
	position: absolute;
	top: 0;
	right: 5px;
}

.hero-cred p {
	font-size: .7em;
	letter-spacing: 1px;
}

.welcome {
	padding: 5% 0 8%;
}

.bpd-welcome-wrap {
	width: 50%;
	float: left;
	text-align: center;
}

.welcome-text {
	padding: 0 20%;
}

.bpd-welcome-wrap h3 {
	padding-bottom: 0;
}
.bpd-welcome-wrap h4 {
	text-align: center;
	font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
	.bpd-welcome-wrap {
		float: none;
		width: 100%;
	}
	.welcome-text {
		padding: 0 0 10%;
	}
}
/* ## Get to Know Us Section =================== */

.us {
	padding: 5% 8%;
}

/* Illustrated Img Headings */
.tag {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 3%;
	padding-top: 3%;
}

.intros {
	width: 25%;
	float: left;
	text-align: center;
	padding: 3% 3%;
}

.intros h3 {
	padding-bottom: 2px;
}

.intros p {
	margin: 0;
}

.intros i  {
	font-size: 2.5em;
	padding-top: 20px;
}

p.info-text.last {
	margin-bottom: 40px;
}

.us-btn {
	clear: both;
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #991D25;
}
.us-btn a {
	color: #fff;
}

@media only screen and (max-width: 1023px) {
	.intros {
		padding: 0 4%;
		width: 50%;
	}
}
@media only screen and (max-width: 767px) {
	.intros {
		padding: 0 20%;
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
		.intros {
			padding: 0 5%;
		}
}

/* ## Our Listings & Blog Sections =================== */

/* .main-heading and .main-info are for both Listings and Blog sections*/

div.main-heading {
	margin: 120px 0 70px;
	border-bottom: 1px solid #C69F70;
}

.main-heading h2, .main-info h3 {
	/*line-height: 5px;*/
	padding-bottom: 0;
}

a.more {
	font-family: 'Lato', sans-serif;
	font-size: .6em;
	margin-left: 20px;
}

div.main-info {
	margin-bottom: 40px;
	border-bottom: .5px solid #C69F70;
}

div.main-info:last-of-type {
	margin-bottom: 40px;
	border-bottom: none;
}

.main-info h3, .main-info h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

.main-info h4 {
	font-size: 1.1em;
}

div.listing-image-wrap {
	position: relative;
}

div.listing-image-wrap img {
display: block;
width: 100%;
}

div.listing-image-wrap span.not-sold {
display: block;
position: absolute;
width: 100%;
letter-spacing: 1.5px;
color: #fff;
left: 0;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
padding: 1em;
font-weight: 700;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

div.listing-image-wrap span.sold {
display: block;
position: absolute;
width: 100%;
text-transform: uppercase;
letter-spacing: 2px;
color: #fff;
left: 0;
top: 0;
background-color: #991D25;
opacity: 0.8;
padding: 1em;
font-weight: 700;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

div.home-blog {
	padding-left: 75px;
}

div.blog-main-info img {
	width: 300px;
	padding-right: 20px;
	float: left;
}

div.blog-main-info {
	padding-bottom: 50px;
}

div.blog-main-info p {
	padding: 0 10%;
}

@media only screen and (max-width: 1023px) {
	div.blog-main-info p {
		padding: 0;
	}
	div.blog-main-info:last-of-type {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 767px) {
	div.home-blog {
		padding-left: 0;
	}
	div.main-heading.what-up {
		margin: 0px 0 70px;
	}
}

/* ## Instagram Section =================== */

.insta-wrap {
	padding: 5% 10%;
}

.insta-wrap h2 {
	text-align: center;
}

/* #About Page =================== */

.tag-sub {
	display: block;
	height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.frame-wrap {
	width: 50%;
	float: left;
	text-align: justify;
}

.frame-wrap h3, h4{
	text-align: center;
}

.frame-wrap img{
	width: 50%;
}

.frame-wrap .info-text {
	padding: 0 15%;
}

.pre-pc {
	padding-bottom: 4px;
}

.photo-cred {
	line-height: .5px;
	font-size: .7em;
	letter-spacing: 1px;
}

@media only screen and (max-width: 1023px){
	.frame-wrap .info-text {
		padding: 0 11%;
	}
	.frame-wrap img{
		width: 60%;
	}
}
@media only screen and (max-width: 767px){
	.frame-wrap {
		width: 100%;
		float: none;
	}
	.frame-wrap .info-text {
		padding: 0;
	}
}
/* First Row of Why Us */
.us-first {
	padding-bottom: 0;
}

/* Second Row of Why Us */
.us-second {
	padding-top: 0;
	padding-bottom: 0;
}

.pdf-buttons {
	padding-bottom: 5%;
}

.pdf-buttons a{
	color: #fff;
}

.us-btn-left{
	display: inline;
	float: left;
	margin-left: 20%;
	background-color: #991D25;
	color: #fff;
}

.us-btn-right{
	display: inline;
	float: right;
	margin-right: 20%;
	background-color: #991D25;
	color: #fff;
}
@media only screen and (max-width: 1023px){
	.us-btn-left{
		margin-left: 15%;
	}
	.us-btn-right{
		margin-right: 15%;
	}
}
@media only screen and (max-width: 767px){
	.btn-default.us-btn-left, .btn-default.us-btn-right {
		float: none;
		clear: both;
		margin: 20px 30%;
		width: 42%;
		padding: 5px 2px;
	}
}
/* Word on the Street Rotator */
.ws-wrap {
	padding-top: 5%;
}

.testimonial_rotator.template-default .has-image .img img, .testimonial_rotator_single.has-image.template-default .img img {
	margin-left: 20%;
	border-radius: 50%;
}

.fa-chevron-left:before, .fa-chevron-right:before {
		color: #991D25;
}

/* #Listings Archive Page =================== */
.second-nav {
	background-color: #454951;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.2em;
	padding: 2px 0;
}

.second-nav a {
	color: #F7EBD7;
}

.second-nav a:hover, .second-nav a:focus {
	color: #C69f70;
}


.listing-details {
	padding: 9% 0 2%;
}

#listings .entry-meta {
	display: none;
}

#listings .entry-footer {
	margin-bottom: 5%;
}

/* #Blog Archive Page =================== */

.dog {
	position: absolute;
	width: 20%;
	top: 50px;
	left: 360px;
}

#blog article {
	position: relative;
}

#blog .entry-title {
	position: absolute;
	bottom: 60%;
	left: 35%;
}

#blog .posted-on {
	position: absolute;
	bottom: 58%;
	left: 35%;
}

#blog .entry-content {
	position: absolute;
	bottom: 10%;
	left: 35%;
	padding-right: 20%;
}

@media only screen and (max-width: 1300px) {
	 #blog .entry-title,
	 #blog .posted-on,
	 #blog .entry-content {
		position: relative;
		bottom: inherit;
		left: 4%;
	}
}

@media only screen and (max-width: 1300px) {
	 #blog .posted-on {
		left: 6%;
	}
}

@media only screen and (max-width: 1023px) {
	#blog .entry-title,
	#blog .posted-on,
	#blog .entry-content {
	 left: inherit;
	 padding-right: 0;
 }
}

@media only screen and (max-width: 1300px), (min-width: 768px) {
	#blog .blog-image-wrap {
		padding-top: 20%;
	}
}

@media only screen and (max-width: 1300px), (min-width: 768px) {
	#blog article {
		padding-top: 10%;
	}
}

.cat-links, .tag-links{
	display: none;
}

/* comments section in jetpack */
#jp-carousel-comment-form {
	display: none;
}

.jp-carousel-image-meta{
	display: none;
}

#jp-carousel-comments-loading {
	display: none !important;
}

/* #Single Listing Page =================== */

#single-listings .main-heading {
	margin-bottom: 20px;
}

.single-listing-img {
	display: block;
	margin: 0 auto;
}

.right {
padding-left: 58%;
}

.open-house-banner {
	text-transform: none;
	font-weight: normal;
	color: #fff;
	padding-bottom: 2px;
}

#single-listings .gallery {
	clear: both;
	float: none;
	margin-bottom: 3%;
}

.main-heading.sub {
	margin: 5% 0 0;
}

.jp-carousel-titleanddesc-title {
	display: none;
}

.virtual-listing iframe {
	margin-bottom: 3%;
}

/*.listing-buttons {
	text-align: center;
}*/

.btn-listing {
	background-color: #991D25;
	margin: 0 3% 3% 0;
}

.btn-listing a {
	color: #fff;
}





/* #Single Blog Page =================== */

.gallery {
	clear: both;
	float: left;
	margin-top: 5%;
}


/* #Contact Page =================== */

.bpd-form {
	padding: 0 20%;
}

.contact-intro-info {
	padding: 0 20%;
}

.contact-intro-info p {
	text-align: center;
	line-height: 1.1em;

}
