/*
 Theme Name:   Edge Child
 Theme URI:    https://themefreesia.com/themes/edge
 Description:  Edge Child Theme - Edge
 Author:       Amy Jennings
 Author URI:   http://amyjenningsdev.com
 Template:     edge
 Version:      1.1.1.1
 Tags:         from edge: threaded-comments, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, sticky-post, theme-options, translation-ready, post-formats, custom-logo, footer-widgets, blog, e-commerce, news, photography, portfolio
 Text Domain:  edge-child
*/

@import url("../edge/style.css");

/* Table of Contents
==================================================
# Color Palette
# General Styles
# Header Override Styles
# Footer Override Styles
# Main Slider Override Styles
# Home Page Styles
	## Get to Know Us Section
	## Our Listings & Blog Sections
*/

/*  # Color Palette
		================================================== */

/*	#010419 - rich black
		#454951 - outer space
		#991D25 - vivid auburn
		#F7EBD7 - moccasin
		#C6C6C6 - lavender gray  */

/*  # General Styles
		================================================== */

/* *** Notes ***

#primary - use when get_sidebar();
#content - use for padding top page from nav

*/

body {
	background: pink;
}

h1, h2, h3 {
	color: #991D25;
}

/* For sections full-width w/color */
.colored-background {
	background-color: #F7EBD7;
}

/*.one-column {
	background-color: cyan;
}*/

.two-column, .two-column-full-width {
    width: 65%;
		/*background-color: tomato;*/
		padding: 15px;
}

.three-column {
	/*background-color: pink;*/
	padding: 15px;
}

.four-column {
	background-color: yellow;
}


/*  # Header Override Styles
================================================== */

#masthead {
	background-color: #F7EBD7;
}

.top-header .widget-title {
    display: block;
		padding-bottom: 0;
		text-align: left;
}

#sticky_header {
	background-color: #991D25;
	border-bottom: 1px solid #010419;
}

.main-navigation a {
	color: #F7EBD7;
}

/*  # Footer Override Styles
================================================== */


.site-info {
	background-color: #C6C6C6;
	/*border-top: 5px solid rgba(162, 162, 162, 0.75);*/
}

.lar {
	width: 100px;
	float: left;
}

.contact {
	text-align: left;
	line-height: 5px;
}

.contact h3 {
	font-size: 1.4em;
	line-height: 5px;
	padding-top: 1.5em;

}
.contact h4 {
	font-size: 1.2em;
	line-height: 5px;

}

.mls {
	width: 70px;
	float: left;
}

.equal {
	width: 30px;
	float: left;
}

.letter-space {
	letter-spacing: 2px;
}

/*.phone {
	border-left: 1px solid #C69F70;
	border-right: 1px solid #C69F70;
}*/

.truck {
	width: 200px;
}

.love {
	width: 120px;
}

.bullhorn-wrap {
	position: relative;
	height: 100px;
	background-color: #fff;
	border: 2px solid #C69F70;
	border-radius: 6px;
}

.bullhorn {
	position: absolute;
	top: 25px;
	left: 90px;
}

.bullhorn i {
	font-size: 3em;
}

.phone-number {
	position: absolute;
	top: 34px;
	left: 150px;
	/*background-color: cyan;*/
	line-height: 5px;
}

/*.copyright {
	clear: both;
}*/

/* need media queries */

/*  # Main Slider Override Styles
================================================== */


.slider-content .slider-title,
.slider-content .slider-title a {
	display: none;
}
.slider-content .slider-text h3 {
	display: none;
}

/* ----- Slider Buttons ----- */

/* Overriding all for now, may need to adjust if use slider in other parts of site */

/* Can access slider functions in inc/settings/edge-functions.php */

div.slider-buttons {
	display: none;
}

a.slider-prev, a.slider-next {
	display: none;
}

/*  # Home Page Styles
================================================== */


/* ## Get to Know Us Section =================== */

.us {
	padding: 5% 8%;
}

/* Illustrated Img Headings */
.tag {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 3%;
}

.intros {
	width: 25%;
	float: left;
	text-align: center;
	padding: 3% 3%;
}

.intros i  {
	font-size: 2.5em;
}

.info-text {
	text-align: justify;
}

@media only screen and (max-width: 480px) {
	.intros {
		padding: 0;
		width: 100%;
	}
}

.us-btn {
	clear: both;
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #991D25;
	color: #F7EBD7;
}

/* ## Our Listings & Blog Sections =================== */

/* .main-heading and .main-info are for both Listings and Blog sections*/

div.main-heading {
	margin: 120px 0 70px;
	/*margin: 25% 0 15%;*/
	border-bottom: 1px solid #C69F70;
}

.main-heading h2, .main-info h3 {
	line-height: 5px;
}

a.more {
	font-family: 'Lato', sans-serif;
	font-size: .6em;
	margin-left: 20px;
}

div.main-info {
	margin-bottom: 40px;
	border-bottom: .5px solid #C69F70;
}

div.main-info:last-of-type {
	margin-bottom: 40px;
	border-bottom: none;
}

.main-info h3, .main-info h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

.main-info h4 {
	font-size: 1.1em;
}

div.listing-image-wrap {
	position: relative;
}

div.listing-image-wrap img {
display: block;
width: 100%;
}

div.listing-image-wrap span.not-sold {
display: block;
position: absolute;
width: 100%;
letter-spacing: 1.5px;
color: #fff;
left: 0;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
padding: 1em;
font-weight: 700;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

div.listing-image-wrap span.sold {
display: block;
position: absolute;
width: 100%;
text-transform: uppercase;
letter-spacing: 2px;
color: #fff;
left: 0;
top: 0;
background-color: #991D25;
opacity: 0.8;
padding: 1em;
font-weight: 700;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

div.home-blog {
	padding-left: 75px;
}

div.blog-main-info img {
	width: 300px;
	padding-right: 20px;
	float: left;
}

div.blog-main-info {
	padding-bottom: 50px;
}

/* ## Instagram Section =================== */

.insta-wrap {
	padding: 5% 10%;
}

.insta-wrap h2 {
	text-align: center;
}

/* #About Page =================== */

.tag-sub {
	display: block;
	height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.frame-wrap {
	width: 50%;
	float: left;
	text-align: center;
}

.frame-wrap img{
	width: 50%;
}

.frame-wrap .info-text {
	padding: 0 15%;
}

/* First Row of Why Us */
.us-first {
	padding-bottom: 0;
}

/* Second Row of Why Us */
.us-second {
	padding-top: 0;
	padding-bottom: 0;
}

.pdf-buttons {
	padding-bottom: 5%;
}

.us-btn-left{
	display: inline;
	float: left;
	margin-left: 20%;
	background-color: #991D25;
	color: #fff;
}

.us-btn-right{
	display: inline;
	float: right;
	margin-right: 20%;
	background-color: #991D25;
	color: #fff;
}

.ws-wrap {
	padding-top: 5%;
}

/* #Listings Archive Page =================== */

.listing-details {
	padding: 9% 0 2%;
}

#listings .entry-meta {
	display: none;
}

#listings .entry-footer {
	margin-bottom: 5%;
}

/* #Blog Archive Page =================== */

#blog article {
	position: relative;
}

#blog .entry-title {
	position: absolute;
	bottom: 60%;
	left: 35%;
}

#blog .posted-on {
	position: absolute;
	bottom: 58%;
	left: 35%;
}

#blog .entry-content {
	position: absolute;
	bottom: 10%;
	left: 35%;
	padding-right: 20%;
}

@media only screen and (max-width: 1300px) {
	 #blog .entry-title,
	 #blog .posted-on,
	 #blog .entry-content {
		position: relative;
		bottom: inherit;
		left: 4%;
	}
}

@media only screen and (max-width: 1300px) {
	 #blog .posted-on {
		left: 6%;
	}
}

@media only screen and (max-width: 1023px) {
	#blog .entry-title,
	#blog .posted-on,
	#blog .entry-content {
	 left: inherit;
	 padding-right: 0;
 }
}

@media only screen and (max-width: 1300px), (min-width: 768px) {
	#blog .blog-image-wrap {
		padding-top: 20%;
	}
}

@media only screen and (max-width: 1300px), (min-width: 768px) {
	#blog article {
		padding-top: 10%;
	}
}

.cat-links a{
	display: none;
}



/* #Contact Page =================== */

.bpd-form {
	padding: 0 20%;
}

.contact-intro-info {
	padding: 0 20%;
}

/* #Single Blog Page =================== */

.gallery {
	clear: both;
	float: left;
	margin-top: 5%;
}

/* #Single Listing Page =================== */

.single-listing-img {
	display: block;
	margin: 0 auto;
}

.right {
padding-left: 58%;
}

#single-listings .gallery {
	clear: both;
	float: none;
	margin: 3% 3% 0;
}

.main-heading.sub {
	margin: 5% 0 0;
}
