/*
 Theme Name:   Edge Child
 Theme URI:    https://themefreesia.com/themes/edge
 Description:  Edge Child Theme - Edge
 Author:       Amy Jennings
 Author URI:   http://amyjenningsdev.com
 Template:     edge
 Version:      1.1.1.1
 Tags:         from edge: threaded-comments, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, sticky-post, theme-options, translation-ready, post-formats, custom-logo, footer-widgets, blog, e-commerce, news, photography, portfolio
 Text Domain:  edge-child
*/

@import url("../edge/style.css");

/* Table of Contents
==================================================
# Color Palette
# General Styles
# Header Override Styles
# Footer Override Styles
# Main Slider Override Styles
# Home Page Styles
	## Get to Know Us Section
	## Our Listings Section
*/

/*  # Color Palette
		================================================== */

/*	#010419 - rich black
		#454951 - outer space
		#991D25 - vivid auburn
		#F7EBD7 - moccasin
		#C6C6C6 - lavender gray  */

/*  # General Styles
		================================================== */

body {
	background: pink;
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: 'Arsenal', sans-serif;
}*/

/*.one-column {
	background-color: cyan;
}*/

.two-column, .two-column-full-width {
    width: 65%;
		/*background-color: tomato;*/
		padding: 15px;
}

.three-column {
	/*background-color: pink;*/
	padding: 15px;
}

.four-column {
	background-color: yellow;
}


/*  # Header Override Styles
================================================== */

#masthead {
	background-color: #F7EBD7;
}

.top-header .widget-title {
    display: block;
		padding-bottom: 0;
		text-align: left;
}

#sticky_header {
	background-color: #991D25;
	border-bottom: 1px solid #010419;
}

.main-navigation a {
	color: #F7EBD7;
}

/*  # Footer Override Styles
================================================== */

.site-info {
	background-color: #F7EBD7;
	border-top: 5px solid #991D25;

}

.lar {
	width: 100px;
	float: left;
}

.contact {
	text-align: left;
	line-height: 5px;
}

.contact h3 {
	font-size: 1.4em;
	line-height: 5px;
	padding-top: 1.5em;

}
.contact h4 {
	font-size: 1.2em;
	line-height: 5px;

}

.mls {
	width: 70px;
	float: left;
}

.equal {
	width: 30px;
	float: left;
}

.letter-space {
	letter-spacing: 2px;
}

/*.phone {
	border-left: 1px solid #C69F70;
	border-right: 1px solid #C69F70;
}*/

.truck {
	width: 200px;
}

.love {
	width: 120px;
}

.bullhorn-wrap {
	position: relative;
	height: 100px;
	background-color: #fff;
	border: 2px solid #C69F70;
	border-radius: 6px;
}

.bullhorn {
	position: absolute;
	top: 25px;
	left: 90px;
}

.bullhorn i {
	font-size: 3em;
}

.phone-number {
	position: absolute;
	top: 34px;
	left: 150px;
	/*background-color: cyan;*/
	line-height: 5px;
}

/*.copyright {
	clear: both;
}*/

/* need media queries */

/*  # Main Slider Override Styles
================================================== */


.slider-content .slider-title,
.slider-content .slider-title a {
	display: none;
}
.slider-content .slider-text h3 {
	display: none;
}

/* ----- Slider Buttons ----- */

/* Overriding all for now, may need to adjust if use slider in other parts of site */

/* Can access slider functions in inc/settings/edge-functions.php */

div.slider-buttons {
	display: none;
}

a.slider-prev, a.slider-next {
	display: none;
}

/*  # Home Page Styles
================================================== */


/* ## Get to Know Us Section =================== */

.gtk {
	padding-bottom: 70px;
	border-bottom: 2px solid #991D25;
}

.tag {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 1.2em;
}

.intros {
	width: 25%;
	float: left;
	text-align: center;
	padding: 10px;
	margin: 40px 0;
}

.intros i  {
	font-size: 2.5em;
}

@media only screen and (max-width: 480px) {
	.intros {
		padding: 0;
		width: 100%;
	}
}

.gtk-btn {
	clear: both;
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #991D25;
	color: #F7EBD7;
}

/* ## Our Listings Section =================== */

/* will adjust when setting main typography styles */

div.listings-heading {
	margin: 70px 0;
	border-bottom: 1px solid #C69F70;
}

.listings-heading h2, .listings-info h3 {
	line-height: 5px;
}
a.more {
	font-family: 'Lato', sans-serif;
	font-size: .6em;
	margin-left: 20px;
}

div.listings-info {
	margin-bottom: 40px;
}

.listings-info h3, .listings-info h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

.listings-info h4 {
	font-size: 1.1em;
}
